<!-- <div class="row">
    <div class="col-md-12">
        <div class="panel panel-success rounded shadow">
            <div class="panel-heading no-border" *ngFor="let item of blogs">
                <div class="line no-margin"></div>
                <div class="media inner-all no-margin"  >
                    <div class="pull-left">
                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="..." class="img-post2">
                        <p>{{item.author.username}}</p>
                   
                    <div class="media-body" >
                        <h3 class="block text-muted">{{item.title}} </h3>
                        <small class="block text-muted">{{item.body}} </small>
                        <em class="text-xs text-muted">Posted on <span class="text-danger">{{item.creartedate}}</span></em>
                    </div>
                    </div>
                </div>
                <div class="line no-margin"></div>
                <div class="panel-footer">
                    <form action="#" class="form-horizontal">
                        <div class="form-group has-feedback no-margin">
                            <input class="form-control" type="text" placeholder="Your comment here...">
                            <button type="submit" class="btn btn-theme fa fa-search form-control-feedback"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success rounded shadow" *ngFor="let item of blogs">
            <ul class="timeline" >
                <li>
                    <!-- begin timeline-time -->
                    <!-- <div class="timeline-time">
                        <span class="date">today</span>
                        <span class="time">04:20</span>
                    </div> -->
                    <!-- end timeline-time -->
                    <!-- begin timeline-icon -->
                    <!-- <div class="timeline-icon">
                        <a href="javascript:;">&nbsp;</a>
                    </div> -->
                    <!-- end timeline-icon -->
                    <!-- begin timeline-body -->
                    <div class="timeline-body">
                        <div class="timeline-header">
                            <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                    alt=""></span>
                            <span class="username"><a href="javascript:;">{{item.author.username}}</a>
                                <small></small></span>
                            <span class="pull-right text-muted">18 Views</span>
                        </div>
                        <div class="timeline-content">
                            <p>
                                {{item.body}}
                            </p>
                        </div>
                        <div class="timeline-likes">
                            <div class="stats-right">
                                <span class="stats-text">259 Shares</span>
                                <span class="stats-text">21 Comments</span>
                            </div>
                            <div class="stats">
                                <span class="fa-stack fa-fw stats-icon">
                                    <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                    <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
                                </span>
                                <span class="fa-stack fa-fw stats-icon">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="stats-total">4.3k</span>
                            </div>
                        </div>
                        <div class="timeline-footer">
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                    class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                    class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                            <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                    class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                        </div>
                        <div class="timeline-comment-box">
                            <div class="user"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"></div>
                            <div class="input">
                                <form action="">
                                    <div class="input-group">
                                        <input type="text" class="form-control rounded-corner"
                                            placeholder="Write a comment...">
                                        <span class="input-group-btn p-l-10">
                                            <button class="btn btn-primary f-s-12 rounded-corner"
                                                type="button">Comment</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end timeline-body -->
                </li>
            </ul>
        </div>
    </div> <!-- end timeline-body -->
</div>