
<div class="container">
    <div class="myform container-fluid col-sm-5 offset-3 ">   
        <form class="text-center border border-light p-3 col-sm-11 mb-4" action="#!">
            <p class="h2 mb-4">Sign In</p>
            <br>
            <div class="form-group mb-2">
                <input type="text" id="UserName"  class="form-control" [(ngModel)]="loggedUser.username" [ngModelOptions]="{standalone: true}" placeholder="User Name" required pattern="[A-Za-z]{3,140}">
            </div>
                <!-- Password -->
            <div class="form-group mb-2">
                <input type="password" id="Password"  class="form-control" [(ngModel)]="loggedUser.password" [ngModelOptions]="{standalone: true}" placeholder="Password" required >
            </div>                
            <br> 
            <div  class="submit">
        <!-- Sign in button -->
                    <button class="btn btn-info btn-block my-4" type="submit" (click)="login()">Login</button>
                </div>
            <br>
            <br>
        </form>
    </div>
</div>