<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="people-nearby">
              <div class="nearby-user" *ngFor="let item of followersArr">
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="user1" class="profile-photo-lg">
                  </div>
                  <div class="col-md-7 col-sm-7">
                    <h5><a href="#" class="profile-link">{{item.firstName}}</a></h5>
                    <p>{{item.job}}</p>
                    <p class="text-muted">{{item.email}}</p>
                  </div>
                  <div class="col-md-3 col-sm-3" *ngIf="check(item)">
                      <button class="pull-right btn btn-primary " id="follow" 
                     (click)="onClick($event,item._id)">
                      Follow
                    </button>  
                  </div>
                </div>
              </div>
            </div>
    	</div>
	</div>
</div>

<script>
  let follow = document.getElementById("follow");
  follow.onclick=function(){
    follow.classList.add('hidden')
  }
  /* $("#follow, #unfollow").click(function () {
    $("#follow, #unfollow").toggleClass('hidden');
}); */
</script>