<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success rounded shadow" *ngFor="let item of blogs ;let i = index ; ">
            <ul class="timeline">
                <li>

                    <div class="timeline-body">
                        <div>
                            <!--  <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                        alt=""></span>
                                <span class="username"><a href="javascript:;">{{item.author.username}}</a>
                                    <small></small></span> -->


                            <span class="pull-right text-muted"></span>

                            <span class="pull-right text-muted">
                                <a style="cursor: pointer;" data-toggle="modal" data-target="#largeShoes"
                                    (click)="editBlog(i)">
                                    <i class="fa fa-cog w3-xlarge"></i></a>

                                <div class="modal" id="largeShoes" tabindex="-1" role="dialog"
                                    aria-labelledby="modalLabelLarge" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h2 class="modal-title" id="largeShoesLabel">Edit Blog</h2>
                                                <h5 class="modal-title" id="largeShoesLabel">{{editedBlog.creartedate|
                                                    date : 'EE dd,MMM/yyyy'}}</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <div class="form-group">
                                                        <label class="col-form-label">Title:</label>
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="editedBlog.title"
                                                            [ngModelOptions]="{standalone: true}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-form-label">Content:</label>
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="editedBlog.body"
                                                            [ngModelOptions]="{standalone: true}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-form-label">Tags:</label>
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="editedBlog.tags"
                                                            [ngModelOptions]="{standalone: true}">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary"
                                                    (click)="saveEditing($event)" data-dismiss="modal">Save
                                                    changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <a style="pointer-events: all;"><i class="fa fa-trash w3-xlarge"
                                        (click)="delete(item._id)" style="cursor: pointer;color:red"></i></a>
                            </span>
                            <!-- <span class="pull-right text-muted mr-2"><a><i class="glyphicon glyphicon-remove"></i></a></span> -->
                        </div>
                        <div class="timeline-content">
                            <div>
                                <span class="date"
                                    style="color: rgb(170, 10, 10);float:right;">{{item.creartedate| date :
                                    'EEEE dd,MMM/yyyy' }}</span>
                                    <p class="h3">
                                        {{item.title}}
                                    </p>
                            </div>

                            
                            
                            <div>
                                <p>
                                    {{item.body}}
                                </p>
                            </div>
                            <p><img class="img-responsive pull-right" src="{{'http://localhost:3000//'+item.photo}}"
                                    alt=""></p>
                        </div>
                        <div class="timeline-likes">

                            <div class="timeline-footer">
                                <div class="stats-right" *ngFor="let tags of item.tags">
                                    <span class="stats-text" style="margin-left:6px">{{ tags }}</span>

                                </div>
                                <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i
                                        class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a>
                            </div>
                        </div>
                        <div class="timeline-comment-box">
                            <div class="user"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"></div>
                            <div class="input">
                                <form action="">
                                    <div class="input-group">
                                        <input type="text" class="form-control rounded-corner"
                                            placeholder="Write a comment...">
                                        <span class="input-group-btn p-l-10">
                                            <button class="btn btn-primary f-s-12 rounded-corner"
                                                type="button">Comment</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end timeline-body -->
                </li>
            </ul>
        </div>
    </div> <!-- end timeline-body -->
</div>