<app-header></app-header>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <section class="content-item grey" id="blog-timeline">
            <div class="container">
                <div class="row">
                    
                    <!-- BLOG POSTS - START -->
                    <div class="col-sm-8">
                      <h2>Latest Articles</h2>
                        <div class="timeline">
                        
                          <!-- BLOG POST 1 - START -->
                            <div class="blog-post"  *ngFor="let item of blogs">
                              <div class="blog-info">
                                  <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="img-responsive" alt="">
                                    <div class="date"><div class="number">18</div><div>{{item.author.firstName}}</div></div>
                                </div>
                                <div>
                                    <span class="date"
                                        style="color: rgb(170, 10, 10);float:right;">{{item.creartedate| date :
                                        'EEEE dd,MMM/yyyy' }}</span>
                                        <h3 style="font-size:x-large;">
                                            {{item.title}}
                                        </h3>
                                </div>
                                <!-- <h3><a>{{item.title}}</a></h3>
                                <span class="date"
                                style="color: rgb(170, 10, 10);float:right;">{{item.creartedate| date :
                                'EEEE dd,MMM/yyyy' }}</span> -->
                                <p><img class="img-responsive pull-right" src="{{'http://localhost:3000//'+item.photo}}" alt=""></p>
                                <p>{{item.body}}</p>
                              <ul class="blog-tags list-unstyled list-inline">
                                    <li  *ngFor="let tag of item.tags"><a><i class="fa fa-tag"></i>{{tag}}</a></li>
                                   
                                </ul>
                            </div>
                            <!-- BLOG POST 1 - END -->
                            
                        </div>
                        
                        <div class="text-center">
                          <a href="##" class="btn btn-danger btn-lg">Load More</a>
                        </div>
                        
                    </div>
                    <!-- BLOG POSTS - END -->
                    
                    <!-- SIDEBAR - START -->
                    <div class="col-sm-4">
                      <div class="sidebar">
                        <h3>Tags</h3>
                        <div class="box tags">
                            <ul class="blog-tags list-unstyled list-inline">
                                <li><a><i class="fa fa-tag"></i>book</a></li>
                                <li><a><i class="fa fa-tag"></i>music</a></li>
                                <li><a><i class="fa fa-tag"></i>nature</a></li>
                                <li><a ><i class="fa fa-tag"></i>read</a></li>
                                <li><a ><i class="fa fa-tag"></i>songs</a></li>
                                <li><a ><i class="fa fa-tag"></i>sunshine</a></li>                            
                            </ul>
                        </div>
                            <!-- <h3>Categories</h3>
                            <div class="box categories">
                                <ul class="list-unstyled">
                                    <li><a ><i class="fa fa-female"></i>Fashion</a></li>
                                    <li><a ><i class="fa fa-paint-brush"></i>Design</a></li>
                                    <li><a ><i class="fa fa-music"></i>Music</a></li>
                                    <li><a ><i class="fa fa-plane"></i>Travel</a></li>
                                    <li><a ><i class="fa fa-hashtag"></i>Uncategorized</a></li>
                                </ul>
                            </div> -->
                            <h3>Recent Posts</h3>
                            <div class="box posts">
                                <ul class="list-unstyled">
                                    <li *ngFor="let item of blogs"><i class="fa fa-chevron-right"></i><a >{{item.title}}</a><div>{{item.creartedate.tolocalDataString}}</div></li>
                                   
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    <!-- SIDEBAR - END -->
                </div>
            </div>
        </section>

  