<!-- <div *ngFor="let item of blogs" ><p>{{item.title}}
    <br> <img src="{{item.photo}}"></p><br><br></div> -->
<!-- <div *ngFor="let item of blogs" ><p>{{item.title}}
    <br> <img src="{{item.photo}}"></p><br><br></div> -->
    <p class="latest col-12"> Latest Form Community </p>

<section class=" container-fluid row">

    <div class="first col-2">
       
        <h6> Welcome To Dives Blog</h6>
        <p class="Description"> Description</p>
       
    </div>
    <div class="second col-4">
        <img src=".//assets/pc.jpg" /><br>
        <p>title test test test</p>
        <p> asdfghjk sdfghjkl werty<br>
            ddddddd ggggh
           
        <p><span> ddg</span>
       
        <img src=".//assets/comment.PNG"/>
        <img src=".//assets/heart.PNG"/>
        </p>
        
    </div>
    <div class="third col-4">
        <img src=".//assets/pc.jpg" /><br>
        <p>title test test test</p>
        <p> asdfghjk sdfghjkl werty<br>
            ddddddd ggggh
        <p> zf
       
            <img src=".//assets/comment.PNG"/>
            <img src=".//assets/heart.PNG"/>
        </p>
    </div>

    
   

    
  <div class="secondeow col-2"></div>
    <div class="four  col-4">
        <img src=".//assets/pc.jpg" /><br>
        <p>title test test test</p>
        <p> asdfghjk sdfghjkl werty<br>
            ddddddd ggggh
        <p> zf
        
            <img src=".//assets/comment.PNG"/>
            <img src=".//assets/heart.PNG"/>
        </p>
    </div>
            
        
    <div class="third col-4">
        <img src=".//assets/pc.jpg" /><br>
        <p>title test test test</p>
        <p> asdfghjk sdfghjkl werty<br>
            ddddddd ggggh
        <p> zf
        
            <img src=".//assets/comment.PNG"/>
            <img src=".//assets/heart.PNG"/>
        </p>
    </div>

    
    
    
         
       
    <div class="secondeow col-2"></div>
    <div class="four  col-4">
        <img src=".//assets/pc.jpg" /><br>
        <p>title test test test</p>
        <p> asdfghjk sdfghjkl werty<br>
            ddddddd ggggh
        <p> zf
        
            <img src=".//assets/comment.PNG"/>
            <img src=".//assets/heart.PNG"/>
        </p>
    </div>
            
        
    <div class="third col-4">
        <img src=".//assets/pc.jpg" /><br>
        <p>title test test test</p>
        <p> asdfghjk sdfghjkl werty<br>
            ddddddd ggggh
        <p> zf
        
            <img src=".//assets/comment.PNG"/>
            <img src=".//assets/heart.PNG"/>
        </p>
    </div>
    
                   
    <div class="secondeow col-2"></div>
    <div class="four  col-4">
        <img src=".//assets/pc.jpg" /><br>
        <p>title test test test</p>
        <p> asdfghjk sdfghjkl werty<br>
            ddddddd ggggh
        <p> zf
        
            <img src=".//assets/comment.PNG"/>
            <img src=".//assets/heart.PNG"/>
        </p>
    </div>
            
        
    <div class="third col-4">
        <img src=".//assets/pc.jpg" /><br>
        <p>title test test test</p>
        <p> asdfghjk sdfghjkl werty<br>
            ddddddd ggggh
        <p> zf
        
            <img src=".//assets/comment.PNG"/>
            <img src=".//assets/heart.PNG"/>
        </p>
    </div>
    
                  <div class="more col-12">
                <button type="button" class="btn btn-primary col-2 ">load more</button>
            </div>
</section>
