.myform {
  border-radius: 10px;
  box-shadow:0 0 4px rgba(0,0,0,0.3);
  text-align: center;
  margin-top:60px;
}
input{
  box-shadow:0 0 4px rgba(0,0,0,0.3);
  border-radius: 10px;
}
.submit{
    margin-top: 10px;
    margin-bottom: 5px;
}
button{
  border-radius: 10px;
}