<div class="container bootstrap snippets bootdey">
    <div class="row login-page"> 
        <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4"> 
    		<img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="user-avatar img-thumbnail">  
            <span id="cam">
                <label for="file-input">
                    <li><a><i class="fa fa-camera"></i></a></li>
                </label>
                <input id="file-input" type="file" (change)="onFileSelect($event)" />
            </span>
    		<h1>ToDo.com</h1> 
    		<form role="form" class="ng-pristine ng-valid"> 
    			<div class="form-content"> 
                    <div class="form-group ">   
                        <input type="text" class="form-control input-underline input-lg" id="Fname" [(ngModel)]="newUser.firstName" [ngModelOptions]="{standalone: true}"  placeholder="Enter You First Name" required pattern="[A-Za-z]{3,140}">
                    </div>
                    <div class="form-group ">   
                        <input type="text" class="form-control input-underline input-lg" id="Lname" [(ngModel)]="newUser.lastName" [ngModelOptions]="{standalone: true}"  placeholder="Enter You Last Name" required pattern="[A-Za-z]{3,140}">
                    </div> 
                    <div class="form-group ">
                        <input type="text" class="form-control input-underline input-lg" id="UserName" [(ngModel)]="newUser.username" [ngModelOptions]="{standalone: true}"   placeholder="User Name" required pattern="[A-Za-z]{3,140}">
                    </div>
                    <div class="form-group ">
                        <input type="text" class="form-control input-underline input-lg" id="Email" [(ngModel)]="newUser.email" [ngModelOptions]="{standalone: true}" placeholder="Email" required pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$"/>
                    </div>
                    <div class="form-group ">
                        <input type="text" class="form-control input-underline input-lg" id="age" [(ngModel)]="newUser.age" [ngModelOptions]="{standalone: true}"  placeholder="Age" required >
                    </div>  
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="iob" [(ngModel)]="newUser.job" [ngModelOptions]="{standalone: true}" placeholder="What`s Your Job" required pattern="[2-5]{1}[0-9]{1}" />
                    </div>
        
                    <div class="form-group ">
                        <input type="password" class="form-control input-underline input-lg" id="Password2" [(ngModel)]="newUser.password" [ngModelOptions]="{standalone: true}"  placeholder="Password" required >
                    </div>            
                   
                    <button class="btn btn-info btn-lg" (click)="registerUser()" type="submit">
                        Register
                    </button> &nbsp; 
                    <a routerLink="/login" class="btn btn-info btn-lg">Login Now</a>
    			</div> 
               
    		</form> 
            
    	</div> 
    </div>
</div>


