body{
    padding-top:10px ;
    background-repeat: no-repeat ;
    background-size: cover ;
    background-attachment: fixed ;
}
#registerDiv{
    margin-top: 60px;
}
#form2{
    margin: 20px;
}
.header{
    padding:5px ;
}
.shadow{
    box-shadow: 0 0.5rem 1rem grey !important;
}
.btn-primary{
    color: #fff;
    background-color: #bd2130;
    border-color: #495057;
}
.btn-primary:hover {
    color: #fff;
    background-color:#2ebd21;
    border-color:#495057;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
    color: #fff;
    background-color: #d63a4a;
    border-color:#495057;
}
input{
  border-radius: 10px;
}
